@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}

div {
  width: 100px;
  height: 100px;
  display: inline-block;
  color: white;
  text-align: center;
  /* padding: 1rem; */
}

div:nth-child(1) {
  background-color: red;
  margin: 0 10px 20px 0;
}

div:nth-child(2) {
  background-color: blue;
}

div:nth-child(3) {
  background-color: green;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  display: block;
  padding-top: 0;
}